.status-icons{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.status-icons li{
    display: inline;
    padding: 6px;
}

.status-icons li a{
    text-decoration: none;
}

.status-icons li a.green{
    color: rgb(76, 174, 76);
}

.status-icons li a.light-grey{
    color: rgb(139, 152, 166);
}

.status-icons li a.grey{
    color: rgb(88, 88, 88);
}

.status-icons li a.red{
    color: rgb(212, 63, 58);
}